APPSTORE_USERNAME="lorem@ipsum.com"
REPO="Kylmakalle/ipa"
GIT_URI="https://github.com"
SIGNING_CERT="Apple Distribution: Sergey Aaaaaaa (XXXXXXXX)"
# Access for full gh repo scope or releases only
GITHUB_TOKEN=